.board {
  display: flex;
}

.board__header {
  padding: 50px 0;
}

.board__filter {
  width: 232px;

  margin-right: 20px;
}

.board__result {
  width: 502px;
}

.board__tabs {
  margin-bottom: 20px;
}
