.segment {
  display: grid;
  grid-template-columns: 141px 141px 141px;
  grid-template-areas: "route duration stops";
  column-gap: 20px;
}

.segment:last-child {
  margin-bottom: 0;
}

.segment-item {
  font-weight: 600;
}

.segment-item__title {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;

  color: #a0b0b9;
}

.segment-item__value {
  font-size: 14px;
  line-height: 21px;
}

.segment-item--route {
  grid-area: route;
}

.segment-item--duration {
  grid-area: duration;
}

.segment-item--stops {
  grid-area: stops;
}
